In [3]:
import numpy as np
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.metrics import silhouette_score

from sklearn.model_selection import train_test_split
from sklearn.svm import OneClassSVM

In [4]:
# memanggil dataset

dataset = pd.read_csv("sample_data/data_latih_kuesioner.csv", index_col=None)

In [5]:
# menampilkan data

data_latih = dataset
data_latih

,mempelajari perkembangan teknologi dalam dunia usaha,Penerapan teknologi dalam usaha,Terlibat dalam kewirausahaan berbasis teknologi,keinginan memberikan dampak dari bisnis menggunakan teknologi,ketertarikan untuk menjalankan bisnis berbasis teknologi
0,0.85,0.86,0.86,0.87,0.87
1,0.75,0.80,0.83,0.74,0.80
2,0.71,0.80,0.73,0.73,0.72
3,0.71,0.82,0.73,0.82,0.73
4,0.90,0.90,0.89,0.90,0.89
...,...,...,...,...,...
221,1.00,1.00,1.00,1.00,1.00
222,1.00,1.00,1.00,1.00,1.00
223,0.85,1.00,0.75,0.70,0.80
224,0.80,1.00,1.00,0.80,1.00
225,0.00,0.50,0.50,0.25,1.00

In [6]:
X = data_latih

# membuat function k-means untuk mencari hasil terbaik

def k_means_clustering(random_states):

    kmeans = KMeans(n_clusters=3, random_state=random_states)
    labels = kmeans.fit_predict(X)

    Y = labels

    silhouette_avg = silhouette_score(X, Y)
    return X, Y, silhouette_avg

In [7]:
# membuat looping untuk mencari hasil terbaik

temp = 0
index = 0

for i in np.arange(0,100):
    X, Y, silhouette_avg = k_means_clustering(i)
    if silhouette_avg > temp:
        temp = silhouette_avg
        index = i
        print(f"temp: {temp}")
        print (f"index: {index}")

temp: 0.3368823180637651
index: 0
temp: 0.3558364516967512
index: 3
temp: 0.36119166040197964
index: 19
temp: 0.3620705814515414
index: 20

In [8]:
# dari hasil looping, diambil nilai Y menggunakan random state terbaik untuk menentukan label dari dataset

X, Y, silhouette_avg = k_means_clustering(index)

print(silhouette_avg)

0.3620705814515414

In [9]:
# menggabungkan fitur dengan label dari dataset

data_berlabel = data_latih
data_berlabel["label"] = Y
print(data_berlabel)

     mempelajari perkembangan teknologi dalam dunia usaha  \
0                                                 0.85
1                                                 0.75
2                                                 0.71
3                                                 0.71
4                                                 0.90
..                                                 ...
221                                               1.00
222                                               1.00
223                                               0.85
224                                               0.80
225                                               0.00

     Penerapan teknologi dalam usaha  \
0                               0.86
1                               0.80
2                               0.80
3                               0.82
4                               0.90
..                               ...
221                             1.00
222                             1.00
223                             1.00
224                             1.00
225                             0.50

     Terlibat dalam kewirausahaan berbasis teknologi  \
0                                               0.86
1                                               0.83
2                                               0.73
3                                               0.73
4                                               0.89
..                                               ...
221                                             1.00
222                                             1.00
223                                             0.75
224                                             1.00
225                                             0.50

     keinginan memberikan dampak dari bisnis menggunakan teknologi   \
0                                                 0.87
1                                                 0.74
2                                                 0.73
3                                                 0.82
4                                                 0.90
..                                                 ...
221                                               1.00
222                                               1.00
223                                               0.70
224                                               0.80
225                                               0.25

     ketertarikan untuk menjalankan bisnis berbasis teknologi  label
0                                                 0.87             0
1                                                 0.80             1
2                                                 0.72             1
3                                                 0.73             1
4                                                 0.89             0
..                                                 ...           ...
221                                               1.00             0
222                                               1.00             0
223                                               0.80             0
224                                               1.00             0
225                                               1.00             2

[226 rows x 6 columns]

In [10]:
# menyimpan hasil dataset yang sudah diberi label
data_berlabel.to_csv(f'dataset_rs{index}_{data_berlabel.shape}.csv', index=False)